.header {
    font-size: 36px;
    font-weight: 300;
    margin: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

select {
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.car {
    margin-bottom: 20px;
    text-align: center;
}

.summary {
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center;
}

.price {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.price span {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #EB5757;
}

.map {
    position:relative;
    height: 400px;
    width: 100%;
    background-color: #f1f1f1;
  }
