.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: #E93560;
}

.logo a {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: #E93560;
    text-decoration: none;
}

.navbar {
    height: 124px;
    border-bottom: 1px solid #C3D4E9;
    padding: 1.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
