.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: baseline;
    flex-wrap: nowrap;
    height: auto;
    background-color: #EB5757;
}

.header {
    font-size: 36px;
    font-weight: 300;
    margin: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.item {
    position: relative;
    display: inline-block;
    border: 1px solid #BFBFBF;
    width: 304px;
    height: 388px;
    font-size: 14px;
    margin: 10px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

.brand {
    font-size: 20px;
    font-weight: 700;
}

.model {
    font-size: 20px;
    font-weight: 700;
    color: #959595;
}

.year {
    font-size: 20px;
    font-weight: 700;
    color: #EB5757;
    float: right;
    margin-bottom: 100px;
}

.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 280px;
    height: 115px;
}

.price {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.price span {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #EB5757;
}

.plate {
    grid-area: 1 / 1 / 2 / 2;
}

.buy {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.specification {
    position: absolute;
    bottom: 120px;
    margin-left: 25px;
    margin-right: 50px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #EB5757
}

.category {
    grid-area: 1 / 3 / 2 / 4;
}
.stationselect {
    position: relative;
    z-index: 9999;
}

.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    color: white;
}

